.student{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 1em;
     padding: 10px;
     border: 1px solid blueviolet;
}
.student{
    margin: 0;;
}